@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

.container-app {
    display: grid;
    grid-template-areas:
            "sidebar-app container-pagina "
            "sidebar-app container-pagina "
            "sidebar-app container-pagina "
            "sidebar-app container-pagina ";
    grid-template-columns: 20rem 1fr;
    height: 100vh;
}

.sidebar-app {
    grid-area: sidebar-app;
    display: grid;
    grid-template-areas:
        "nome-app"
        "container-rotas-menu";
    grid-template-rows: 5rem 1fr;
}

.container-pagina {
    grid-area: container-pagina;
    display: grid;
    grid-template-areas:
        "navbar-app"
        "conteudo-pagina";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1rem 1fr;
}

.navbar-app {
    grid-area: navbar-app;
    display: grid;
    grid-template-areas:
            "nome-pagina usuario-componente";
    grid-template-columns: 1fr 5rem;
    align-content: center;
}

.nome-pagina {
    grid-area: nome-pagina;
}

.usuario-componente {
    grid-area: usuario-componente;
}

.conteudo-pagina {
    grid-area: conteudo-pagina;
}

.nome-app {
    grid-area: nome-app;
}

.nome-app-label {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18pt;
}

.container-rotas-menu {
    grid-area: container-rotas-menu;
}

.item-rota-menu {
    display: grid;
    grid-template-areas:
        "icone-rota-menu descricao-rota-menu arrow-rota-menu";
    grid-template-columns: 5rem 1fr auto;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.icone-rota-menu {
    grid-area: icone-rota-menu;
}

.descricao-rota-menu {
    grid-area: descricao-rota-menu;
}

.arrow-rota-menu {
    grid-area: arrow-rota-menu;
}

.flex-fill > * {
    flex: 1;
}