@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: blue;
    --color-secondary: teal;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

.container-aplicacao {
    display: grid;
    grid-template-areas:
        "card-nome-cliente area-header-aplicacao"
        "area-menu-lateral area-conteudo";
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 4rem 1fr;
}

.area-nome-cliente {
    grid-area: card-nome-cliente;
}

.area-header-aplicacao {
    grid-area: area-header-aplicacao;
}

.area-menu-lateral {
    grid-area: area-menu-lateral;
}

.area-conteudo {
    grid-area: area-conteudo;
}

.container-app {
    display: grid;
    grid-template-areas:
            "sidebar-app container-pagina "
            "sidebar-app container-pagina "
            "sidebar-app container-pagina "
            "sidebar-app container-pagina ";
    grid-template-columns: 20rem 1fr;
    height: 100vh;
}

.sidebar-app {
    grid-area: sidebar-app;
    display: grid;
    grid-template-areas:
        "nome-app"
        "sidebar-filter-menu"
        "container-rotas-menu";
    grid-template-rows: 4rem 3rem 1fr;
}

.sidebar-filter-menu {
    grid-area: sidebar-filter-menu;
}

.container-pagina {
    grid-area: container-pagina;
    display: grid;
    grid-template-areas:
        "navbar-app"
        "conteudo-pagina";
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1rem 1fr;
}

.conteudo-pagina {
    display: grid;
    gap: 3rem;
    grid-area: conteudo-pagina;
    grid-template-areas:
            "conteudo-pagina-cabecalho"
            "conteudo-pagina-children";
}

.conteudo-pagina-cabecalho {
    display: grid;
    grid-area: conteudo-pagina-cabecalho;
    align-items: center;
    grid-template-areas:
            "conteudo-pagina-cabecalho-pagina-aberta conteudo-pagina-cabecalho-acoes";
    grid-template-columns: 1fr auto;
}

.conteudo-pagina-cabecalho-pagina-aberta {
    grid-area: conteudo-pagina-cabecalho-pagina-aberta;
}

.conteudo-pagina-cabecalho-acoes {
    grid-area: conteudo-pagina-cabecalho-acoes;
}

.conteudo-pagina-children {
    grid-area: conteudo-pagina-children;
}

.navbar-app {
    grid-area: navbar-app;
    display: grid;
    grid-template-areas:
            "usuario-componente";
    grid-template-columns: 1fr;
    align-content: center;
}

.usuario-componente {
    display: flex;
    justify-content: end;
    grid-area: usuario-componente;
}

.nome-app {
    grid-area: nome-app;
}

.nome-app-label {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18pt;
}

.container-rotas-menu {
    grid-area: container-rotas-menu;
}

.item-rota-menu {
    display: grid;
    grid-template-areas:
        "icone-rota-menu descricao-rota-menu arrow-rota-menu";
    grid-template-columns: 4rem 1fr auto;
}

.icone-rota-menu {
    grid-area: icone-rota-menu;
}

.descricao-rota-menu {
    grid-area: descricao-rota-menu;
}

.arrow-rota-menu {
    grid-area: arrow-rota-menu;
}

.flex-fill > * {
    flex: 1;
}

.container-usuario {
    display: grid;
    gap: 1rem;
    grid-template-areas: "lista-usuario card-usuario";
    grid-template-columns: 1fr auto;
}

.lista-usuario {
    grid-area: lista-usuario;
}

.card-usuario {
    grid-area: card-usuario;
}